$default: #666666;
$menu: rgba(18, 18, 18, 0.4);
$menuHover: rgba(18, 18, 18, 0.6);
$title: #121212;
$accent: #FF6428;
$white: #fff;
$buttonHover: #ba4619;
$all: #868686;
$gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%)